<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

  <tx:advice id="txAdvice" transaction-manager="txManager">
	  <!-- the transactional semantics... -->
	  <tx:attributes>
	    <!-- all methods starting with 'get' are read-only -->
	    <tx:method name="get*" read-only="true" rollback-for="IllegalStateException" propagation="REQUIRED" />
	    <!-- other methods use the default transaction settings (see below) -->
	    <tx:method name="*" propagation="REQUIRED" rollback-for="IllegalStateExeption" />
	  </tx:attributes>
  </tx:advice>
  

  <aop:config>
    <aop:pointcut id="transactionsPointcut" expression="execution(* com.scrumwall.gwt.server.service..*.*(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="transactionsPointcut"/>
  </aop:config>

  <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

<!--   
  <bean id="itemService" class="com.scrumwall.service.item.ItemServiceImpl">
  	<aop:scoped-proxy/>
  	<property name="itemDao" ref="itemDao"/>
  </bean>

  <bean id="itemDao" class="com.scrumwall.dao.item.ItemDaoImpl">
    <property name="dataSource" ref="dataSource" />
  </bean>
 -->
   
  <bean id="columnService" class="com.scrumwall.gwt.server.service.ColumnServiceImpl">
    <!--aop:scoped-proxy/ -->
  </bean>
  
  <bean id="columnDao" class="com.scrumwall.gwt.server.dao.ColumnDao">
    <property name="dataSource" ref="dataSource" />
  </bean>

</beans>