#columnContainer{
	margin-left: 11%;
	width: 89%;
	height:90%;
	min-width:800px;
}
.column{	
	float:left;
	height:100%;
	z-index:10;
}

#menu{
	/*position: absolute;*/
	float:left;	
	width: 10%;
	text-align: center;
	border: 1px solid black;
	background-color: #e0ffff;
}

#itemCreator{
	height:85px;
	width:85px;
	margin-left:25%;
}
.item{
	position:absolute !important;
	height: 100px;
	width: 120px;
	background-color: white;
	text-align: center;
	border:1px solid black;
	overflow:hidden;
	z-index: 100;
}

.burndown{
	height:100px;
	width:75px;
	background-color:grey;
	margin-left:15px;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}
#tabbar{
	margin-left:11%;
	height:47px;
}

.colHeader{
	background-color:grey;
	border-right:1px dotted black;
	float:right;
	width:100%;
}
.colBody{
	height:100%;
	border-right:1px dotted grey;
}
.hidden{
	display:none;
}
.itemContent{
	width:100%;
}

.expandIcon{
	background-image: url('../images/expandIcon.jpeg');
	margin-left:auto;
	margin-right:auto;
	height: 24px;
	width:24px;
}
	
.estimation{
	width:1.8em;
	float:right;
	clear:both;
	
}
.estimationWrapper{
	position:absolute;
	bottom:0;
	right:10px;
}
.collapseButton{
	
	
}
.owner{
	color:grey;
	width:50px;
	position:absolute;
	bottom:0;
	left:0;
}

.ownerInput{
	width:100%;
}
.itemContent{
	height:90%;
}
.itemText{
	height:75%;
	overflow: hidden;
	font-size:0.75em;
}
.errorHandler{
	font-size:1em;
}
body .ui-dialog .ui-dialog-title{
	font-size:0.9em;
}

.sector{
	float:left;
	height:40px;
	width:40px;	
	border: 1px solid black;
	z-index: 1000001;
}

.red{
	background-color:pink;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
.yellow{
	background-color:yellow;
}

#trashcan {
	background-image: url('../images/trashcan.jpeg');
	width: 100px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	background-color: red;
}

#trashcanWrapper{
	position: absolute;
	bottom:0;
	width:10%;
}

.ui-resizable-handle {
	width: 15px !important;
}

.drawer{
    width:0;
    background-color:pink;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    z-index:100;
}

html, body  {
 height: 100%;
}

#removeMode{
  display:none !important;
}

.columnNameText{
  width: 100%;
}

#newColumnButton, .deleteColumnButton{
  float: right;
  margin-right: 5px;
}