.areaContainer{
	margin-left: 14%;
	width: 86%;
	height:100%;
}

#menu{
	position: absolute;
	float:left;	
	height:50%;
	width: 14%;
	text-align: center;
	border: 1px solid black;
	background-color: #e0ffff;
}
#left{
	float:left;
	width:25%;
	height:100%;
	background-color: grey;
}
#right{
	float:right;
	width:25%;
	height:100%;
	background-color: green;
}
.centerContainer{
	width:50%;
	float:left;
}
.centerleft{
	float:left;
	width:50%;
	height:100%;
	background-color: brown;
}
.centerright{
	float:right;
	width:50%;
	height:100%;
	background-color: yellow;
	
}
.item{
	position:absolute;
	float:right;
	height: 100px;
	width: 100px;
	background-color: white;
	text-align: center;
	border:1px solid black;
}

.burndown{
	height:100px;
	width:150px;
	background-color:grey;
	margin-left:15px;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}
#tabbar{
	margin-left:15%;
}