#columnContainer{
	margin-left: 11%;
	width: 89%;
	height:90%;
	min-width:800px;
}
.column{	
	float:left;
	height:100%;
}

#menu{
	position: absolute;
	float:left;	
	width: 10%;
	text-align: center;
	border: 1px solid black;
	background-color: #e0ffff;
}

#itemCreator{
	border: 1px solid black;
	height:50px;
	width:75px;
	background-color:white;
	margin-left:25%;
}
.item{
	position:absolute;
	height: 100px;
	width: 120px;
	background-color: white;
	text-align: center;
	border:1px solid black;
	overflow:hidden;
}

.burndown{
	height:100px;
	width:75px;
	background-color:grey;
	margin-left:15px;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}
#tabbar{
	margin-left:15%;
	height:47px;
}

.colHeader{
	background-color:grey;
	border-right:1px dotted black;
	float:right;
	width:100%;
}
.colBody{
	height:100%;
	border-right:1px dotted grey;
}
.hidden{
	display:none;
}
.itemContent{
	width:100%;
}
.estimate{
	width:35px;
	
}
.estWrapper{
	position:absolute;
	bottom:0;
	right:0;
}
.collapseButton{
	
	
}
.owner{
	color:grey;
	width:50px;
	position:absolute;
	bottom:0;
	left:0;
}

.ownerInput{
	width:100%;
}
.itemContent{
	height:90%;
}
.itemText{
	height:75%;
	overflow: hidden;
	font-size:0.75em;
}
.errorHandler{
	font-size:1em;
}
body .ui-dialog .ui-dialog-title{
	font-size:0.9em;
}