
.wrapper{
	width:100%;
	height: 100%;	
}
	

.columnContainer .sprint{
	height: 100%;
	width: 100%;
	padding: 0px !important;
}



.burndown{
	height:100px;
	width:75px;
	background-color:grey;
	margin-left:15px;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}



.hidden{
	display:none;
}




.expandIcon{
	background-image: url('../images/expandIcon.jpeg');
	margin-left:auto;
	margin-right:auto;
	height: 24px;
	width:24px;
}

.collapseButton{
	
	
}



.errorHandler{
	font-size:1em;
}
body .ui-dialog .ui-dialog-title{
	font-size:0.9em;
}

.ui-resizable-handle {
	width: 15px !important;
}

.drawer{
    width:0;
    background-color:pink;
    height:auto;
    margin-top: 54px;
    position:absolute;
    right:0;
    top:0;
    z-index:10000;
}

html, body  {
 height: 100%;
 min-width: 980px;
 margin-top: 0px;
 margin-left: 4px;
}

#removeMode{
  display:none !important;
}
.statusIndicator{
  width:10%;
  background-color: green;
  float:left;
  margin-bottom: 25px;
}

.scrollingTabs{
	overflow: hidden;
	position: relative;
	width: 680px;
	height: 100%;
	margin-left: 35px;
}
.tabWrapper{
	height: 6%;
	width: 750px;
}
.scrollingTabs .tabs{
	width: 20000em;
	clear:both;
	position:absolute;
	left: 35px;
}
.scrollingTabs .movable{
	margin-left: 0px;
	margin-right: 20px;
	float:left;
}

.nextPage{
	position:relative;
	float:right !important;
	margin-top: -30px;
}
.prevPage{
	position:relative;
	margin-top: -30px;
	
}